pkgbase = codex-desktop
	pkgdesc = ChatGPT desktop application for Manjaro KDE
	pkgver = 26.908.31748
	pkgrel = 1
	url = https://github.com/pygojrc/codex-desktop-linux/releases/tag/manjaro-kde-26.908.31748
	arch = x86_64
	license = custom:upstream
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libglvnd
	depends = libnotify
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = libusb
	depends = xdg-utils
	depends = xz
	optdepends = fcitx5: Chinese input method support
	optdepends = fcitx5-rime: Rime Wubi input support
	optdepends = git: project source control integration
	optdepends = kde-cli-tools: opening files/trash on KDE
	optdepends = pulseaudio: audio integration
	provides = chatgpt
	conflicts = chatgpt
	options = !debug
	options = !strip
	source = https://github.com/pygojrc/codex-desktop-linux/releases/download/manjaro-kde-26.908.31748/codex-desktop-26.908.31748-1-x86_64.pkg.zst
	sha256sums = 39fa6b6754cc3e82c94b0b41c3f0520e095c75a32cbf3d6f18de6f76947af71d

pkgname = codex-desktop
